button {
  padding: 0.5rem 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;

}

li {
  margin-bottom: 1rem;
  font-size: 30px;
}


.footer {
  flex: 0 0 auto;
  color: #333;
  text-align: center;
}

.header {
  background-color: #ffbb00;
  color: #fff;
  padding: 10px;
}


.App {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

form {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-right: 1rem;
}

input[type="text"] {
  text-align: left;
  height: 50px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ffbb00;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

html {
  background: linear-gradient(40deg, #fdff85 0.29%, #ffffff 104.04%);
  /*background-color: #e4e9fd;/*
  /*background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);*/
  min-height: 100%;
  font-family: "helvetica neue";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main {
  text-align: center;
  flex: 1 0 auto;
}